{% extends 'events/base.html' %}
{% block content %}
    <center>
    {% if  user.is_authenticated %}
    <h1>Add event</h1>
    </center>
    {% if submitted %}
        <center>Your event was submitted succesfully!</center>
        {% else %}
        <form action="" method="POST" >
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Submit"
            class="btn btn-primary">
            </form>
        {% endif %}
    {% else %}
            <br></br>
            <h1>Sorry! You must be Logged in to view this page</h1>
            <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% endblock %}