{% extends 'events/base.html' %}
{% block content %}

    <h1>Event list:</h1>
    <br>

{% for event in events %}
        <div class="card" >
  <div class="card-header">
    <strong>{{event.caps}}</strong>
  </div>
  <ul>
    <li class="list-group-item">Date: {{event.event_date}}</li>
        <li class="list-group-item">Venue: {{event.venue}}</li>
        <li class="list-group-item">Venue WEB: {{event.venue.web}}</li>
        <li class="list-group-item">Manager: {{event.manager}}</li>
        <li class="list-group-item">Description: {{event.description}}</li>
        <li class="list-group-item">Attendees:
            <ul>
            {% for user in event.attendees.all %}
                <li>{{ user }}</li>
            {% endfor %}
            </ul>
  </ul>
            {% if user == event.manager %}
            <div class="card-footer">

                <a href="{% url 'update-event' event.id %}"
                            class="btn btn-outline-secondary btn-sm">Update Event</a>
                <a href="{% url 'delete-event' event.id %}"
                            class="btn btn-outline-danger btn-sm">Delete Event</a>

            </div>
            {% endif %}
</div>
<br>

{% endfor %}

        </center>
<!--    {{events}}</br>-->
<!--    Has prev: {{events.has_previous}}</br>-->
<!--    Has next: {{events.has_next}}</br>-->
<!--    Current page: {{events.number}}</br>-->
<!--    Numbers of pages: {{ events.paginator.num_pages }}</br>-->
    {% if events.paginator.num_pages > 1 %}
    <hr></br>
    <nav aria-label="Page navigation example">
      <ul class="pagination  justify-content-center">
          {% if not model %}
              {% for i in events.paginator.page_range %}
                {% if i is events.number %}
                    <li class="page-item disabled"><a class="page-link" href="?page={{i}}"><b>{{i}}</b></a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif  %}
              {% endfor %}
          {% else %}
            {% if events.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{events.previous_page_number}}">Previous</a></li>
            {% elif not events.has_previous %}
                <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %}
            {% for i in model %}
                {% if i is 0 %}
                    <li class="page-item disabled"><a class="page-link" >...</a></li>
                {% elif i is events.number %}
                    <li class="page-item disabled"><a class="page-link" ><b>{{i}}</b></a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}
            {% if events.has_next%}
                <li class="page-item"><a class="page-link" href="?page={{events.next_page_number}}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{events.paginator.num_pages}}">Last &raquo</a></li>
            {% elif not events.has_next %}
                <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% endif %}
          {% endif %}
      </ul>
    </nav>
    {% endif %}

{% endblock %}
